/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: "wght" var(--main-font-weight);
  background-image: var(--background-image);
  background-attachment: fixed;
  background-size: cover;
  inline-size: var(--container-inline-size);
  margin-inline: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  color: #000000;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  inline-size: var(--container-inline-size);
  font-family: var(--accent-font);
  font-variation-settings: "wght" var(--title-font-weight);
  padding-block: clamp(122px, 100%, 130px);
  padding-inline: clamp(16px, 100%, 122.5px);
  text-align: center;
  background-color: #ffffff;
  margin-bottom: 100px;
  border: 2px solid #000;
}

.header__title {
  text-transform: uppercase;
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
}

.header__subtitle {
  margin-top: 20px;
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
}

.card {
  box-sizing: border-box;
  border: 2px solid #000000;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  width: 100%;
  background-color: #fff;
  margin-bottom: 50px;
}

.card__title {
  padding: 5px 10px;
  font-variation-settings: "wght" var(--title-font-weight);
  font-size: 18px;
  line-height: 22px;
}

.card__pic {
  position: relative;
}

.card__image {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  background-color: #ffffff;
  border-width: 2px 0px;
  border-style: solid;
  border-color: #000000;
}

.card__label {
  position: absolute;
  top: 27px;
  right: 25px;
  text-transform: uppercase;
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  mix-blend-mode: hard-light;
  text-shadow: 2px 2px var(--text-shadow-color);
}

@supports ((text-stroke: 2px var(--text-shadow-color)) or (-webkit-text-stroke: 2px var(--text-shadow-color))) {
  .card__label {
    -webkit-text-stroke: 2px var(--text-shadow-color);
    text-stroke: 2px var(--text-shadow-color);
    text-shadow: none;
  }
}

.card__button {
  justify-content: end;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 25px;
}

.card__text {
  font-variation-settings: "wght" var(--main-font-weight);
  font-size: 18px;
  line-height: 117%;
  margin: 25px;
}

.card__text p {
  margin-bottom: 25px;
}

.like-icon {
  display: flex;
}

.card__icon-button {
  border: 2px solid transparent;
  transition: border 0.3s ease;
  justify-content: center;
  background-color: transparent;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: none;
  border: 2px solid #000;
}

.button {
  position: relative;
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  padding: 9px 17px;
  background: #ffffff;
  border: 2px solid #000000;
  transition: box-shadow 0.3s ease;
}

.button__floppy {
  display: flex;
  margin-inline: auto;
  margin-block: auto;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.button::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  background-color: #000;
  transform-origin: center left;
}

.button__text {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  z-index: 1;
}

.button:hover .button__text {
  color: #fff;
}

.button:hover .button__text,
.button:hover .button__text-icon {
  color: #fff;
  mix-blend-mode: difference;
}

.button:hover::after {
  transform: scaleX(1);
}

.button:hover,
.button:focus {
  outline: none;
  box-shadow: 2px 2px #000;
}

.button__text-icon {
  height: 21px;
  width: 21px;
}

.dialog[open] {
  width: 100%;
  max-width: 353px;
  padding: 27px;
  background: #ffffff;
  border: 2px solid #000000;
}

.dialog::backdrop {
  background: rgb(0 0 0/75%);
}

.dialog__button {
  width: 100%;
  align-items: center;
}

.dialog__icon {
  margin-bottom: 10px;
  flex-shrink: 0;
  display: inline-block;
  width: 39px;
  height: 39px;
}

.dialog__text {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  font-family: var(--accent-font);
  text-transform: uppercase;
  margin-bottom: 30px;
  max-width: 255px;
}

.core,
.main-body {
  fill: transparent;
}

.contour {
  fill: var(--contour-color);
}

.sparks {
  opacity: 0%;
  fill: var(--animation-fill-color);
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition: 0.3s linear 0.05s;
}

.like-icon:hover .core {
  fill: var(--contour-color);
  transition: 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: 0.3s linear;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: 0.3s linear;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: 0.3s linear 0.06s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: 0.3s linear 0.05s;
}

.like-icon.is-liked .sparks {
  animation: sparkle 0.3s ease-in 0.3s;
}

.like-icon.is-liked {
  transform-origin: center;
  animation: bigger 0.3s ease-in 0.1s;
}

.saturation-filter {
  filter: saturate(90%) hue-rotate(35deg);
}

.bright-filter {
  filter: contrast(2) brightness(200%);
}

.pastel-filter {
  filter: sepia(0.5) blur(0.05rem);
}

.invert-filter {
  filter: invert(70%);
}

.blur-filter {
  filter: blur(0.6rem) grayscale(0.9);
}

.hue-filter {
  filter: opacity(0.85) hue-rotate(70deg);
}

.mix-filter {
  filter: contrast(120%) hue-rotate(130deg) invert(0.9);
}

@media (width <=375px) {
  .header {
    max-block-size: 327px;
  }

  .header__subtitle {
    min-inline-size: 210px;
  }

  .button__floppy .button__text {
    display: contents;
  }

  .button__floppy {
    display: flex;
    flex-direction: column;
    max-width: 306px;
    min-height: 84px;
    gap: 10px;
    margin-top: 65px;
  }

  .button__text-icon {
    width: 28px;
    height: 28px;
  }

  .card__like-button {
    width: 130px;
  }

  .dialog[open] {
    padding-top: 28px;
    max-width: 340px;
  }

  .dialog__icon {
    width: 39px;
    height: 39px;
  }
}